@font-face {
  font-family: arcade;
  src: url(fonts/ARCADE.TTF);
}

body {
  margin: 0;
  overflow: hidden;
  background: url('images/homebg.gif') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  font-size: 30pt;
  font-family: 'arcade';
}

.button-container .start-btn {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: #FF63D8;
  text-shadow: -1px -1px black, 1px 1px white;
  color: #8488F4;
  border-radius: 7px;
  box-shadow: 0 .2em #585EFF;
  cursor: pointer;
  letter-spacing: 5px;
  margin-bottom: 100px;
  margin-right: 10px;
}

.start-btn a {
  text-decoration: none;
}

.start-btn:hover {
  background-color: #585EFF;
  color: #fff;
}

.start-btn:active {
  box-shadow: none;
  position: relative;
  top: .2em;
}
